body {
  margin: 0;
  text-align: center;

  width: 100%; /* Use percentage for responsiveness */
  height: 50vh;
}

@media (min-width: 768px) {
  .body {
    width: 75%;
    height: 40vh;
  }
}

@media (min-width: 1024px) {
  .body {
    width: 550px; /* Specific width for larger screens */
    height: 285px; /* Specific height for larger screens */
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #0284c7;
  padding: 3vw;
}

h1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: center;
  color: white;
}

#user-input {
  width: 117px;
  height: 83px;
  top: 101px;
  left: 217px;

  border: 2px solid #38bdf8;
  border-radius: 5px;

  font-family: Inter;
  font-size: 50px;
  font-weight: 800;
  line-height: 24.39px;
  text-align: center;
}

input::placeholder {
  color: #0c4a6e;
}

#convert-btn {
  width: 117px;
  height: 42px;
  left: 217px;
  top: 209px;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

span {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #0c4a6e;
}

.main {
  background: #f4f4f4;
  padding: 10px;
}

.section {
  background: white;
  padding: 5px;
  margin: 20px auto;
  width: 500px;
  height: 108.57px;
  top: 321px;
  left: 25px;
  gap: 0px;
  border-radius: 4.68px 0px 0px 0px;
}

h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #0c4a6e;
}

p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #353535;
}
